@import 'theme/theme.scss';
@import '@material/react-chips/index.scss';

.taglist-main-class {
  display: flex;
  align-items: center;
  justify-content: center;

  .tag-main-class {
  	@include user-select(none);
  	pointer-events: none;
  }
}

