@import 'theme/theme.scss';
@import 'scenes/portfolio/projects/mixins.scss';
@import '@material/react-layout-grid/index.scss';
@import 'components/taglist/mixins.scss';
@import 'components/button/mixins.scss';

$COLOR_PROJECT_THEME: #407EB7;
$COLOR_PROJECT_SELECTION_BACKGROUND: #6C757D;

.p10005 {
  @include selection(white, $COLOR_PROJECT_SELECTION_BACKGROUND);
  .banner {
  	@include project-banner;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin: 3rem 0rem 2rem 0rem;

    .button {
      margin: 0rem 1rem;
      @include button-icon-with-outline($COLOR_PROJECT_THEME, transparent, $COLOR_PROJECT_THEME, white, $COLOR_PROJECT_THEME, transparent);
    }
  }

  .tag {
  	@include tag-set-color($COLOR_PROJECT_THEME, white);
  }

  .content-grid-row {
    margin-top: 3rem;
  }

  .content-image-fill-grid {
    width: 100%;
  }

  .content-title {
  	@include project-content-title($COLOR_PROJECT_THEME);
  }

  .content-subtitle {
    @include project-content-subtitle($COLOR_PROJECT_THEME);
  }

  .content-text {
    @include project-content-text;
    line-height: 1.5rem;
  }

  .problem-statement-container {
  	background-image: url(img/ps_background.png);
  	background-size: cover;
  	background-position: center;
  	padding: 2.5rem 0rem 3rem 0rem;
  	margin-top: 3rem;

  	.problem-statement-title {
  	  @include project-content-title(white);
  	  text-align: center;
  	}

  	.problem-statement-divider {
  	  margin: 0.25rem 0rem 0.75rem 0rem;
  	  text-align: center;
  	  color: white;
  	  font-size: 1rem;
  	}

  	.problem-statement-text {
  	  margin: 1rem 0rem 0rem 0rem;
  	  text-align: center;
  	  color: white;
  	  font-size: 2.5rem;
  	}
  }

}