@import 'theme/theme.scss';
@import 'scenes/portfolio/projects/style.scss';
@import '@material/react-layout-grid/index.scss';
@import '@material/chips/mixins';

$COLOR_PROJECT_THEME: #407EB7;
$COLOR_PROJECT_SELECTION_BACKGROUND: #6C757D;

.p10005 {
  @include selection(white, $COLOR_PROJECT_SELECTION_BACKGROUND);
  .banner {
  	@include project-banner;
  }

  .tag {
  	@include mdc-chip-fill-color($COLOR_PROJECT_THEME);
  	@include mdc-chip-ink-color(white);
  }

  .content-grid-row {
    margin-top: 3rem;
  }

  .content-title {
  	@include project-content-title($COLOR_PROJECT_THEME);
  }

  .content-text {
    @include project-content-text;
  }

  .problem-statement-container {
  	background-image: url(img/ps_background.png);
  	background-size: cover;
  	background-position: center;
  	padding: 3rem 0rem;
  	margin-top: 3rem;

  	.problem-statement-title {
  	  @include project-content-title(white);
  	  text-align: center;
  	}

  	.problem-statement-divider {
  	  margin: 0.25rem 0rem 0.75rem 0rem;
  	  text-align: center;
  	  color: white;
  	  font-size: 1rem;
  	}

  	.problem-statement-text {
  	  margin: 1rem 0rem 0rem 0rem;
  	  text-align: center;
  	  color: white;
  	  font-size: 2.5rem;
  	}
  }
}