@import 'theme/theme.scss';
@import '@material/react-layout-grid/index.scss';
@import '@material/chips/mixins';

$COLOR_PROJECT_THEME: #407EB7;

.p10005 {
  .banner {
  	max-width: 100vw;
  	pointer-events: none;
  	@include user-select(none);
  }

  .content-container {
  	@include portfolio-item-content-container;
  }

  .tag {
  	@include mdc-chip-fill-color($COLOR_PROJECT_THEME);
  	@include mdc-chip-ink-color(white);
  }
}