@import 'theme/theme.scss';
@import '@material/react-layout-grid/index.scss';

.portfolio-scene {
	display: flex;
	justify-content: center;
	align-items: center;

	.portfolio-grid {
	  width: 90%;

	  .content {
	    margin-top: 1rem;
	    margin-bottom: 1rem;
	  }
	}
}