@import '@material/react-card/index.scss';

.card-theme {
  max-width: 360px;
  max-height: 385px;

  .content__primary {
    padding: 1rem;

    .title {
      margin: 0;
      line-height: 2rem;
      font-size: 1.25rem;
      font-weight: 500;
      letter-spacing: 0.0125em;
    }

    .subtitle {
      margin: 0;
      line-height: 1.375rem;
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 0.00714em;
    }
  }

  .content__secondary {
  	padding: 0 1rem 8px;
  	line-height: 1.25rem;
  	font-size: 0.875rem;
  	font-weight: 400;
  	letter-spacing: 0.01786em;
  	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}