.header-banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
  	.title {
  	  padding: 0;
  	  margin: 0;
  	  font-size:4rem;
  	  line-height: 4rem;
  	  color: white;
    }
  }
}