@import "theme/theme.scss";

.header-banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    .title {
      padding: 0;
      margin: 0;
      font-size:4rem;
      line-height: 4rem;
      color: white;
    }

    .subtitle {
      color: white;
    }
  }

  @include breakpoint(phone) {
    background: url("img/background-phone.png") no-repeat center center fixed; 
    text-align: right;
    .subtitle {
      visibility: hidden;
    }
  }

  @include breakpoint(tablet) {
    background: url("img/background-desktop.png") no-repeat center center fixed; 
  }

  @include breakpoint(desktop) {
    background: url("img/background-desktop.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

}