@import 'theme/theme.scss';
@import 'scenes/portfolio/projects/mixins.scss';
@import '@material/react-layout-grid/index.scss';
@import 'components/taglist/mixins.scss';
@import 'components/button/mixins.scss';

$COLOR_PROJECT_THEME: #872F06;

.p10002 {
  @include selection(black, #e7d5cd);
  .banner {
  	@include project-banner;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin: 3rem 0rem 2rem 0rem;

    .button {
      margin: 0rem 1rem;
      @include button-icon-with-outline($COLOR_PROJECT_THEME, transparent, $COLOR_PROJECT_THEME, white, $COLOR_PROJECT_THEME, transparent);
    }
  }

  .tag {
  	@include tag-set-color(#B58663, white);
  }

  a {
    text-decoration-color: $COLOR_PROJECT_THEME;
    -webkit-text-decoration-color: $COLOR_PROJECT_THEME; /* Safari */  
    color: $COLOR_PROJECT_THEME;
    font-weight: 700;

    &:visited {
      text-decoration-color: $COLOR_PROJECT_THEME;
      -webkit-text-decoration-color: $COLOR_PROJECT_THEME; /* Safari */ 
      color: $COLOR_PROJECT_THEME;
    }
  }

  .content-grid-row {
    margin-top: 3rem;
  }

  .content-grid-subrow {
    margin-top: 1.5rem;
  }

  .content-image-fill-grid {
    width: 100%;
  }

  .content-title {
  	@include project-content-title($COLOR_PROJECT_THEME);
  }

  .content-text {
    @include project-content-text;
    line-height: 1.5rem;
  }

  #responsibility-list {
    margin-bottom: 0;
  }

  #cell-new-design-img {
    @include breakpoint(phone) {
      @include mdc-layout-grid-cell-order(2);
    }

    @include breakpoint(tablet) {
      @include mdc-layout-grid-cell-order(2);
    }
  }

  #cell-new-design-desc {
    @include breakpoint(phone) {
      @include mdc-layout-grid-cell-order(3);
    }

    @include breakpoint(tablet) {
      @include mdc-layout-grid-cell-order(3);
    }
  }
}