@import 'theme/theme.scss';
@import '@material/react-top-app-bar/index.scss';
@import '@material/react-material-icon/index.scss';

.navbar {
  @include mdc-top-app-bar-fill-color($COLOR_BRAND_PRIMARY_DARK);

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

  .hamburger-icon { 
  }
}